:root {
  --pointSize: 8px;
}

.square-point {
  width: var(--pointSize);
  height: var(--pointSize);
  margin-left: 1px;
  margin-top: 1px;
}

.black {
  border: 1px solid white;
  background-color: black;
}

.white {
  border: 1px solid black;
  background-color: white;
}